.checkout-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-text {
    font-size: 30px;
}

.checkout-button {
    margin-top: 10px;
    background-color: blue;
    padding: 7px 20px;
    border: none;
    cursor: pointer; 
    color: white;
    border-radius: 50px;
    font-size: 20px;
}

.purchase-label {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: green;
}

.mb {
    margin-bottom: 30px;
}